@page
@model CampusConnect.Pages.PendingApprovalModel
@{
    ViewData["Title"] = "Pending Approval";
}

<div class="text-center">
    <h1 class="display-4">Account Pending Approval</h1>
    <p class="lead">Your account has been created successfully, but it requires administrator approval before you can access the system.</p>
    <p>Please contact your system administrator to have a role assigned to your account.</p>
    <hr />
    <p>Once approved, you'll be able to access all features assigned to your role.</p>
</div>