@page
@model CampusConnect.Pages.Admin.UserRolesPages.CreateModel

@{
    ViewData["Title"] = "Assign Role";
}

<h1>Assign Role</h1>

<hr />

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label class="control-label">Role</label>
                <select asp-for="userRoles.roleID" class="form-control" asp-items="ViewBag.roleID"></select>
                <span asp-validation-for="userRoles.roleID" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">User</label>
                <select asp-for="userRoles.userID" class="form-control" asp-items="ViewBag.userID"></select>
                <span asp-validation-for="userRoles.userID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}