@page
@model CampusConnect.Pages.Admin.UserRolesPages.DeleteModel

@{
    ViewData["Title"] = "Remove Role";
}

<h1>Remove Role</h1>

<h3>Are you sure you want to remove this role assignment?</h3>
<hr />

<dl class="row">
    <dt class="col-sm-2">User</dt>
    <dd class="col-sm-10">@Model.userRoles.user?.email</dd>

    <dt class="col-sm-2">Role</dt>
    <dd class="col-sm-10">@Model.userRoles.role?.roleName</dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="userRoles.roleID" />
    <input type="hidden" asp-for="userRoles.userID" />

    <input type="submit" value="Remove" class="btn btn-danger" />
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}