@page
@model CampusConnect.Pages.Admin.UserRolesPages.DetailsModel

@{
    ViewData["Title"] = "User Role Details";
}

<h1>User Role Details</h1>

<hr />

<dl class="row">
    <dt class="col-sm-2">User</dt>
    <dd class="col-sm-10">@Model.userRoles.user?.email</dd>

    <dt class="col-sm-2">Role</dt>
    <dd class="col-sm-10">@Model.userRoles.role?.roleName</dd>
</dl>

<div class="mt-3">
    <a asp-page="./Edit"
       asp-route-roleID="@Model.userRoles.roleID"
       asp-route-userID="@Model.userRoles.userID"
       class="btn btn-primary">
        Edit
    </a>

    <a asp-page="./Index" class="btn btn-secondary">
        Back to List
    </a>
</div>